<h1>Update friend</h1>

<%= render "form", friend: @friend %>

<br>


  <div class="btn-group">
  <%= button_to "Delete this friend", @friend, method: :delete,  class:"btn btn-outline-danger btn-sm", role:"button";%>

  <%= link_to "Back to friends", friends_path, class:"btn btn-outline-dark btn-sm";%>
  </div>
  

