<h1>Update friend</h1>

<%= render "form", friend: @friend %>

<br>


  <div style="width:130px; margin-top: -10px" >
  <%= button_to "Delete this friend", @friend, method: :delete, :onclick => "return confirm('DELETE ACCOUNT?')",  class:"btn btn-outline-danger btn-sm", role:"button";%></div>

<div style="width:130px;margin-left: 140px;margin-top: -30px">
  <%= link_to "Back to friends", friends_path, class:"btn btn-outline-dark btn-sm";%>
  </div>
  

