<h1>New friend</h1>
<br>

<%= render "form", friend: @friend %>

<br>

<div style="width:130px;margin-left: 140px;margin-top: -60px">
  <%= link_to "Back   Friends", friends_path, class:"btn btn-primary";  %>
</div>
