<div class="container">
  <h1>Contact Form</h1>

  <h3>Thank you for your message!</h3>
</div>

  <div id="form-message-warning mt-4"></div> 
            <div id="form-message-success">
              Your message was sent, thank you!
            </div>